.family-member-view {
    margin: 5% 10% 5% 10%;
    padding: 2% 2% 2% 2%;
    // width: 100%;

    table {
        // width: 50%;
        width: -webkit-fill-available;
        margin: 2% 2% 2% 2%;
    }
    
    .land-action {
        margin-right: 2%;
    }
}
