<div class="chief-view">

        <p>Welcome <b>{{ chief.lastName }}</b>, <b>{{ chief.firstName }}!</b></p>
        <br>
        
        <mat-tab-group>
            <mat-tab label="Registration Requests">
                <!-- <h2>Your Lands</h2> -->
                <table matTable mat-table [dataSource]="chief.incomingRegistrationRequests" class="mat-elevation-z8">
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                
                    <!-- Coords Column -->
                    <ng-container matColumnDef="claimer">
                        <th mat-header-cell *matHeaderCellDef> Claimer </th>
                        <td mat-cell *matCellDef="let element"> {{element.claimer.getDisplayName() }} </td>
                    </ng-container>
                
                    <!-- Registration Type Column -->
                    <ng-container matColumnDef="registrationType">
                        <th mat-header-cell *matHeaderCellDef> Registration Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.registrationType}} </td>
                    </ng-container>
                
                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element">
                            
                            <button type="button" class="btn btn-success request-action">Approve</button>
                            
                            <button type="button" class="btn btn-danger request-action">Reject</button>

                            &nbsp;
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="registrationRequestColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: registrationRequestColumns;" ></tr>
                </table>
            </mat-tab>
            <mat-tab label="Families">
            </mat-tab>
            <mat-tab label="Marketplace">
                <!-- <h2>Your Lands</h2> -->
                <app-marketplace userType="chief"></app-marketplace>
            </mat-tab>
        </mat-tab-group>
        
    </div>