.external-member-view {
    margin: 5% 10% 5% 10%;
    padding: 2% 2% 2% 2%;
    // width: 100%;

    table {
        // width: 50%;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .land-action {
        margin-right: 2%;
    }
}
