<div class="external-member-view">

        <p>Welcome <b>{{ externalMember.lastName }}</b>, <b>{{ externalMember.firstName }}!</b></p>
        <p>Hope <b>{{ externalMember.familyName }}</b> family is doing well.</p>
        <br>
        
        <mat-tab-group>
            <mat-tab label="Your Lands">
                <!-- <h2>Your Lands</h2> -->
                <table matTable mat-table [dataSource]="externalMember.lands" class="mat-elevation-z8">
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{ element.Key }} </td>
                    </ng-container>
                
                    <!-- Coords Column -->
                    <ng-container matColumnDef="coords">
                        <th mat-header-cell *matHeaderCellDef> Coords </th>
                        <td mat-cell *matCellDef="let element"> {{ element.Record.coords }} </td>
                    </ng-container>
                
                    <!-- Registration Type Column -->
                    <ng-container matColumnDef="registrationType">
                        <th mat-header-cell *matHeaderCellDef> Registration Type </th>
                        <td mat-cell *matCellDef="let element"> {{ element.Record.registrationType }} </td>
                    </ng-container>
                
                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <button *ngIf="!element.registered" type="button" class="btn btn-success land-action">Register Land</button>
                            <button *ngIf="element.registered && element.registrationType==='Customary'" 
                            type="button" class="btn btn-info land-action">
                                Make Statutory</button> -->
                            <button *ngIf="element.Record.isForSale==='false'" 
                            (click)="putLandForSale(element)"
                            type="button" class="btn btn-primary land-action">Put up for sale</button>
                                
                            <button *ngIf="element.Record.isForSale==='true'" 
                            (click)="withdrawLandFromSale(element)"
                            type="button" class="btn btn-danger land-action">Withdraw from sale</button>
                            
                            &nbsp;
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                    [ngClass]="{'warning-row': !row.registered}"></tr>
                </table>
            </mat-tab>
            <mat-tab label="Family Members"> Content 2 </mat-tab>
            <mat-tab label="Marketplace">
                <!-- <h2>Your Lands</h2> -->
                <app-marketplace userType="member" [currentMember]="externalMember"></app-marketplace>
            </mat-tab>
        </mat-tab-group>
        
    </div>