/first-network/org4-artifacts/crypto-config/peerOrganizations/org4.example.com/users/User1@org4.example.com/msp/keystore/*
/first-network/org4-artifacts/crypto-config/ordererOrganizations/*
/first-network/org4-artifacts/crypto-config/ordererOrganizations/*
/first-network/org4-artifacts/crypto-config/peerOrganizations/*